<main>
  <header class="brand-name"></header>

  <!-- Buttons for navigation -->
  <section class="buttons">
    <button route="http://localhost:4200/category"
      [class]="'btn  btn-sm ' + (isCategoryRoute ? 'btn-primary' : 'btn-secondary')">Go to
      Category</button>
    <button route="http://localhost:4200/product"
      [class]="'btn  btn-sm ' + (isProductRoute ? 'btn-primary' :'btn-secondary'  )">Go to
      Product</button>
  </section>

  <section class="content">
    <app-category *ngIf="isCategoryRoute"></app-category>
    <app-product *ngIf="isProductRoute"></app-product>
  </section>
</main>